@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    min-height: 100vh;
    color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    font-family: "Inter", sans-serif;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
}

@media (min-width:512px) {
    .wrapper {
        height: 800px;
        width: 400px;
        border-radius: 20px;
        border: 5px solid #2e2e2e;
    }
}

.wrapper .screen {
    flex: 1;
    min-width: 100%;
    transition: all 0.3s;
}

.wrapper.show-category .home-screen {
    transform: translateX(-100%);
}

.wrapper.show-category .category-screen {
    transform: translateX(-100%);
}

.wrapper.show-category .screen-backdrop {
    transform: translate(-50%, -60%);
}

.screen-backdrop {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
    border-radius: 0 0 40% 40%;
    background-color: #7373b5;
    transition: all 0.3s;
}

.head-wrapper {
    padding: 0 32px;
}

#menu-icon{
    font-size: 50px;
    width: 32px;
    cursor: pointer;
    color: #2e2e2e;
}

.welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome .content input {
    /* margin-left: 8px; */
    flex: 1 1 0%;
    font-size: 24px;
    color: var(--dark);
    font-weight: 700;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

.welcome .content h1 {
    font-size: 24px;
}

.welcome .content p {
    font-weight: 600;
}

.welcome .content {
    color: var(--dark);
    font-size: 20px;
}

.welcome .img {
    position: relative;
}

.welcome .img img {
    position: absolute;
    right: 50%;
    width: 80px;
    /* margin-right:50%; */
    z-index: 10;

}

.categories-wrapper {
    margin-top: 16px;
    height: calc(100% - 128px);
    padding: 0 30px;
    padding-bottom: 20px;
    overflow: auto;
}

.categories {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categories .category {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 24px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px #00000023;
    transition: all 0.3s;
}

.categories .category:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 5px #00000040;
    background-color: rgb(196, 206, 215);
}

.category .left {
    display: flex;
    gap: 24px;
    align-items: center;
}

.category .left img {
    width: 60px;
}

.category .content h1 {
    font-size: 24px;
}

.category .content p {
    color: #2e2e2e;
    font-size: 13px;
    opacity: 1;
}

.category .options {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.category .options {
    opacity: 1;
    visibility: visible;
}

#bx-dots-vertical-rounded {
    font-size: 30px;
    width: 32px;
    cursor: pointer;
    /* opacity: 0.6; */
}

/* tasks screen */

.category-screen .head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bx-arrow-back {
    font-size: 32px;
    width: 32px;
    cursor: pointer;
    color: #2e2e2e;
}

.category-details {
    padding: 0 30px;
    margin-top: 112px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.category-details img {
    width: 120px;
    font-size: 16px;
}

.category-details .details p {
    opacity: 0.6;
}

/* tasks */
.tasks-wrapper {
    padding: 0 30px;
    margin-top: 16px;
    height: calc(100% - 192px);
    padding-bottom: 20px;
    overflow: auto;
}

.tasks {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    gap: 8px;
    font-size: 13px;
    font-weight: 500;
    width: max-content;
    cursor: pointer;
}

.task input {
    display: none;
}

.task .checkmark {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #2e2e2e;
    align-items: center;
    justify-content: center;
}

#bx-check {
    width: 16px;
    color: #2e2e2e;
    opacity: 0;
    transition: all 0.3s;
}

.task:hover .checkmark #bx-check {
    opacity: 1;
}

.task input:checked~.checkmark {
    background-color: #2e2e2e;
}

.task input:checked~.checkmark #bx-check {
    opacity: 1;
    color: aliceblue;
}

.task input:checked~p {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-wrapper .delete {
    min-width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    color: #2e2e2e;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.031);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.task-wrapper:hover .delete {
    visibility: visible;
    opacity: 1;
}

.task-wrapper .delete:hover {
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
}

/* add task */
.add-task-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7373b5;
    border-radius: 50%;
    transition: all 0.3s;
}

#bx-plus {
    font-size: 45px;
}

.add-task-btn:hover {
    transform: scale(1.1);
}